.Phonetics {
  margin: 20px 0;
}

.Phonetics a {
  margin-right: 10px;
}

.Phonetics a:link {
  text-decoration: none;
}
.Phonetics a:visited {
  text-decoration: none;
}

.Phonetics a:hover {
  text-decoration: none;
}

.Phonetics a:active {
  text-decoration: none;
}

.Phonetics .text {
  opacity: 0.5;
  font-weight: bold;
}
